@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fafafa;
  --text-color: #000;
  --cursor-color: #fafafa;
}

@font-face {
  font-family: "PetitFormalScript";
  src: url("/fonts/PetitFormalScript.ttf");
  font-display: swap;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  overflow-x: hidden;
  transition: 300ms ease;
}

*::selection {
  background-color: var(--text-color);
  color: var(--bg-color);
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}

.quote {
  font-family: "PetitFormalScript";
}

nav {
  color: #fafafa;
}

.link {
  display: block;
  font-size: 17px;
}

.link:after {
  display: block;
  content: "";
  border-bottom: solid 2px #fafafa;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

.link:hover:after {
  transform: scaleX(1);
}

.btn {
  color: white;
  mix-blend-mode: difference;
  z-index: 50;
}

.cursor {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--cursor-color);
  mix-blend-mode: difference;
  position: fixed;
  z-index: 10;
  pointer-events: none;
}
